.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout_title{
    margin-right: 10px;
    
}

.checkoutright{
    margin-left: 900px;
    margin-top: -300px;
    
}