.header{
    background-color: rgba(240, 255, 240, 0.678);
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 100;
}
.header_search{
    display: flex;
    align-items:center;
    margin: 10px;
    margin-bottom: 2px;
    
}
.header_logo{
    width :80px;
    height:auto;
    margin-top: 20px;
    display:flex;
    align-items: center;
    /* flex: 1; */
}
.header_searchInput{
    height: 10px;
    width:  500px;
    padding: 10px;
    border-radius: 1.625rem;
    background: #f5f5f5;
}

.header_nav{
    display: flex;
    justify-content:right
}
.headerOption{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}

.headerOptionBasket{
    display: flex;
    align-items: center;

}
.headeroptionl5{
    font-size: 13px;
    font-weight:800;
    border: none;
    color: black;
}
.basket_count{
    margin-left: 5px;
    margin-right: 5px;
}